#textos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2vw;
}

#textos h1{
    font-size: 4vw;
    font-weight: 700; 
}

#textos h3{
    width: 90%;
    font-size: 1.5vw;
    font-weight: 500;
}

#textos button{
    width: 16vw;
    padding: .7vw;
    background-color: #01bb88;
    border-radius: 10vw;
    box-shadow:5px 5px 15px 5px #00000042;
    border: unset;
    font-size: 1.5vw;
    font-weight: 500; 
    color: white;
}

#textos button:hover{
    background-color: #01bb897e;
}