body{
    background-color: #304D63;
    color: white;
    font-family:'Times New Roman', Times, serif;
    max-width: 90%;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 50px;
    font-weight: bold;
    font-family: B, times;
    font-size: 30px;
}

li{
    display: inline-block;
    margin: 20px;
    font-family: B;
    font-size: 30px;
}

h1{
   font-weight: 200; 
}

a{
    color: white;
    font-size: 20px;
}

a:hover{
    color:#8FB9AA;
    transition: 0.3s all;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 30px;
    line-height: 40px;
    font-family: B;
}

span{
    color: #8FB9AA;
    font-size: 40px;
}

p{
    line-height: 35px;
    max-width: 600px;
    font-family: B;
    font-size: 30px;

}

img{
    width: 40%;
    margin-left: 60%;
    margin-top: 10%;
}
form{
    font-family: B;
}

#enter{
    font-weight: bold;
    border: 2px solid #8FB9AA ;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s ease;
}

#enter:hover{
    background-color: #8FB9AA;
    color: white;
    transform: scale(1.2);
}

article{
    width: 50%;    
    align-items: center;
    margin-right: 20%;
   
    
}

aside{
    margin-left: 10%;

}