
/* 
==== PALETA DE COR ====
Escuro: #1b1b1b
Azul: #122b43
Verde: #01bb88
Cinza: #666a74
Branco: #f5f5f5 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    background-color: #1b1b1b;
    color: white;
}

#conteiner{
    width: 80vw;
    height: 100vh;
    padding: 2vw;
    background-color: #1b1b1b;
}



/* MENU ======================================================*/

#menu{
    width: 15vw;
    height: 100vh;
    padding: 2vw 2vw 0 0;
    background-color: #313131;
    backdrop-filter: blur(5px);
    border-radius: 0vw 1vw 1vw 0;
    box-shadow:5px 5px 15px 5px #00000042;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2vw;
}

#Logo{
    width: 10vw;
}

.opt-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

#menu .btn-menu{
    width: 100%;
    height: 6vh;
    border-radius: 0vw 1vw 1vw 0;
    font-size: 1vw;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#menu .btn-menu:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: #01bb88;
    box-shadow:2px 2px 10px 5px #0000001f;
}
#menu  .activo{
    background-color: rgba(255, 255, 255, 0.2);
    color: #01bb88;
    box-shadow:2px 2px 10px 5px #0000001f;
}

#menu .btn-menu-sair{
    width: 100%;
    height: 6vh;
    background-color: #122b43;
    border-radius: 0vw 1vw 1vw 0;
    font-size: 1vw;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:2px 2px 10px 5px #0000001f;
}

#menu .btn-menu-sair:hover{
    background-color: #0d1e2f;
}



.st1 {
    fill: #cccccc;
  }
  
  #shark,
  #turtle,
  #clownfish,
  #octopus,
  #crab,
  #starfish,
  #jellyfish,
  #seahorse,
  #dolphin {
    visibility: hidden;
  }
  