.container{
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%; 
    background-color: rgb(245,242,242);
    padding: 2px 0;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
    box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
}
.container table{
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
}

.container table tr th{
    height: 56px;
    font-size: 16px;
    font-weight: 700;
   letter-spacing: .25px;
   text-align: left;
   padding: 0 10px;
}
.container table tr.item td{
    border-bottom: 1px solid #c8cacc;
    padding: 0 10px;
}
.container table tr.item{
    height: 60px;
}
.container table tr td.icone{
    width: 5%;
}
.container table tr td {
    vertical-align: middle;
    width: 20%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.25px;
}